 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

main {
  max-width: 90em;
  width: 1400px;
  height: 1000px;
  background-color: hsla(60, 17%, 95%, 1);
}

.header{
  width: auto;
  height: 100px;
  border: solid;
  border-width: 1px;
}

//Sidebar

.sidebar {
  float: left;
  width: 225px;
  height: 1120px;
  margin-top: 17px;
  margin-right: 20px;
  margin-left: 90px;
  background-color: white;
}

h4 {
  list-style-type: none;
}


//Right Side of page

.rightSide{
  @include outer-container;
  float: right;
  width: 1000px;;
  background-color: hsla(60, 17%, 95%, 1);
}

.box li {
  @include span-columns(3);
  @include omega(3n);
  width: 225px;
  height: 220px;
  margin-bottom: 25px;
  font-size:13px;
  background-color: white;
  list-style:none;
}

.box li:hover{
  border: 1px solid gray;
}

img {
  float: left;
  width: 215px;
  height: 170px;
  padding-left: 10px;
}


.title {
  width: 205px;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  float: right;
  margin-top: 0px;
  margin-right: 3px;
  color: green;

}

.shop {
  width: 100px;
  float: left;
  margin-top: 0px;
  margin-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: gray;
}

//*{border:solid;}
